* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.6;
  background-color: rgb(247, 247, 247);
}

// loading
.loading {
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
}
@import "./mixins";

// low opacity background for popup boxes
.background-box {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);

  animation: glow 0.7s;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

////////////////////////////
// form signup box
///////////////////////////

.popup-box {
  width: 80rem;
  height: 60rem;
  border-radius: 0.8rem;
  position: absolute;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 53%;
  left: 50%;
  text-align: center;
  background-color: #fff;
  // box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
  @include responsive(tabport) {
    width: 50rem !important;
  }

  & img {
    height: 100%;
  }
}

.user-info {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  font-size: 1.5rem;
  color: #fff;

  & img {
    border-radius: 50%;
    display: inline-block;
  }
}

// exit button for popups
.cross {
  position: absolute;
  top: 2.3rem;
  right: 2.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  color: #fff;

  @include responsive(mediumphone) {
    right: 12rem;
  }
  @include responsive(mediumphone) {
    right: 6rem;
  }
  @include responsive(threephone) {
    right: 9rem;
  }
}

.cross2 {
  color: #000;
}

.btn-submit {
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  margin: 2rem 0;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;

  &:focus {
    outline: none;
  }
}
